.hov {
    overflow: hidden;
    margin-top: 50px;
}

.hov .img {
    transition: transform 2s ease;
}

.hov .img img{
    width: 100%;
}

.hov .img:hover {
    transform: scale(1.3);
}

.shipped p{
    text-align: center;
    text-transform: uppercase;
}