
.background .carousel-inner img{
    width: 100%;
}

.background .right-banner img {
    height: 650px;
    /* width: 100%; */
    position: relative;
}

.background .right-banner .text h1 {
    position: absolute;
    right: 5%;
    top: 350px;
    color: white;
    font-weight: 400;
    font-family: Playfair Display;
    font-size: 70px;
    text-transform: capitalize;
}

.row{
    margin: 0;
}

/* ---------- trending ------- */
.trending .bg {
    background: #F0EFEF;
    padding: 20px 0px;

}

.trending .bg img {
    background: #6B373B;
    padding: 15px;
    border-radius: 65px;
}

.trending .bg h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin: 10px 0px;
}

.trending .bg p {
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    color: #4B4848;
}




/* ---------- exclusive --------------- */

.exclusive .bg .text {
    /* position: relative; */
    padding: 100px;
    /* top: 0px; */
}

.exclusive .bg img {
    /* position: absolute; */
}

.exclusive .bg{
    background: url(../../../public/images/home/exclusive.png);
}

.exclusive .bg .text h4 {
    font-family: Playfair Display;
    font-size: 35px;
    font-style: italic;
    font-weight: 500;
    color: #6B373B;
    /* line-height: 65px; */
}

.exclusive .bg .text h1 {
    font-family: Playfair Display;
    font-size: 80px;
    font-weight: 500;
    color: white;
}

.button {
    width: 142px;
    height: 40px;
    background: #6B373B;
    text-align: center;
    border: none;
    border-radius: 32px;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
}

.button a {
    color: white;
    text-align: left;
    text-decoration: none;
}






/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
    padding-bottom: 30px;
}

.main-banner .left-content .thumb img {
    width: 100%;
    overflow: hidden;
}



.main-banner .right-content .inner .main-border-button a {
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
}

.main-banner .right-content .inner .main-border-button:hover a {
    text-decoration: none;
    color: white;
}

.main-banner .right-content .inner .main-border-button:hover {
    background-color: #AE7744;
    transition: 1s;
}

.main-banner .right-content .inner .main-border-button {
    background-color: transparent;
    padding: 10px 20px;
    margin: 0px 30px;
}

.main-banner .right-content .right-first-image {
    margin-bottom: 28.5px;
}

.main-banner .right-content .right-first-image .thumb {
    position: relative;
    text-align: center;
}

.main-banner .right-content .right-first-image .thumb img {
    width: 100%;
    overflow: hidden;
}

.main-banner .right-content .right-first-image .thumb .inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.main-banner .right-content .right-first-image .thumb .inner-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .inner-content span {
    font-size: 16px;
    color: #fff;
    font-style: italic;
}

.main-banner .right-content .right-first-image .thumb .hover-content {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    text-align: center;
    background-color: rgba(42, 42, 42, .97);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-banner .right-content .right-first-image .thumb:hover .hover-content {
    opacity: 1;
    visibility: visible;
}

.main-banner .right-content .right-first-image .thumb .hover-content .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main-banner .right-content .right-first-image .thumb .hover-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .hover-content p {
    color: #fff;
    padding: 0px 20px;
    margin-bottom: 20px;
}


/* ------------- products ------------  */

.products h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: #4B4848;
    margin-bottom: 50px;
}

.products .prod  img{
    width: 100%;
}

.products .prod .text {
    text-align: center;
}

.products .prod .text h6 {
    margin: 8px;
}

.products .prod .text p {
    margin: 0px;
}

.products .prod .btn-view {
    margin-top: 50px;
    letter-spacing: 1px;
}





  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  .portfolio-section {
    margin-top: 4rem;
  }
  
  .portfolio-section h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  
  .images {
    overflow: hidden;
    margin: 60px 0;
    white-space: nowrap;
    position: relative;
  
  }
  
  .images::before,
  .images::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: " ";
    z-index: 2;
  }
  
  .images::after {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .images::before {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .images:hover .image-slide {
    animation-play-state: paused;
  }
  
  .image-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
  }
  
  .image-slide img {
    height: 300px;
    width: 500px;
    margin: 0 40px;
    border-radius: 9px;
  }
  
  @media only screen and (max-width: 1024px) {
    .portfolio-section {
      margin-top: 2rem;
    }
  
    .image-slide img {
      height: 180px;
      width: 300px;
      margin: 0 40px;
      border-radius: 9px;
    }
  
    .portfolio-section h1 {
      text-align: center;
      font-size: 2rem;
    }
  
    .images::after {
      left: 0;
      background: none;
    }
  
    .images::before {
      right: 0;
      background: none;
    }
  }